.heading{

    font-size: 23px;

    width: 100%;

    margin: 0px;

    box-shadow: 5px 5px 5px grey;

}

.note{

    font-size: 15px;
    color: black;
}

.footer{

    position: fixed;
    bottom: 0;
    line-height: 3;
    color: aqua;
    background-color: rgb(173, 40, 173);
    width: 100%;
    text-align: center;

}

canvas{

    background: blue;

    border: 5px solid black;

    border-radius: 20px;

    box-shadow: 5px 5px 4px black;

}

video{

    margin-left: 20px;

}